@model IEnumerable<qlnv.Models.Chucvu>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng chức vụ</h1>

<p>
    <a asp-action="Create">Thêm chức vụ mới</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Macv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tencv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Macv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tencv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Macv">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Macv">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Macv">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
