@model IEnumerable<qlnv.Models.Nhanvien>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h1>Bảng nhân viên</h1>

<p>
    <a asp-action="Create">Thêm nhân viên mới</a>
    <br>
    <a class = "btn btn-success" asp-action="Download">Dowload</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manv)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Matd)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Mabp)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manv)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Matd)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Mabp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Manv">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Manv">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Manv">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>

@using (Html.BeginForm("Index", "Nhanvien", FormMethod.Get, new {id = "form1"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page, 
            pageSize = ViewBag.psize}),
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})

        </div>
        <div class = "col-md-1">
            @Html.DropDownList("pageSize",null,new{ @class= "form-select"})

        </div>

    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function){
        $("#pageSize"). change(function () {
            $("#form1").submit();
        });
    });
</script>

