@model IEnumerable<qlnv.Models.KyLuat>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng Kỷ luật</h1>

<p>
    <a asp-action="Create">thêm một kỷ luật mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKL">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaKL">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKL">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
