@model IEnumerable<qlnv.Models.Phongban>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng phòng ban</h1>

<p>
    <a asp-action="Create">Thêm phòng ban mới</a>
    <br>
    <a class = "btn btn-success" asp-action="Download">Dowload</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Mapb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenpb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mapb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenpb)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mapb">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Mapb">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Mapb">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
